name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.153.2@sha256:a0705cb61783b46b7dd4097db19239eac3931a676d880e386fe9edcb6643bbfc
    command: hugo server --bind 0.0.0.0 -D --minify --gc
