name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.153.3@sha256:61ca50115781305878c52cac820e4b406583a9a1ea63a622df5af7915801e20e
    command: hugo server --bind 0.0.0.0 -D --minify --gc
