name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.153.4@sha256:d0ffb6b6b3595a068feb528ec93858106d5ad031a120971598b163e756fabbd0
    command: hugo server --bind 0.0.0.0 -D --minify --gc
