name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.156.0@sha256:a8ffe425cb80738de9c81754ad826adbdaf8ce2905b7a948ed5c8460c546a697
    command: hugo server --bind 0.0.0.0 -D --minify --gc
