name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.154.3@sha256:8c215b85464823668576a169f6c1862339c8e0e3075deadbbe907a2e5f28d943
    command: hugo server --bind 0.0.0.0 -D --minify --gc
