name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.155.3@sha256:4280dacac589972c48a13360a429f977aef00eba8b8d09304eb561a1cd8b7cf2
    command: hugo server --bind 0.0.0.0 -D --minify --gc
