name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.154.2@sha256:3573129016267e77e0847f523b766b81cc7bc73205c5aed859a18ad895b2c265
    command: hugo server --bind 0.0.0.0 -D --minify --gc
