name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.153.0@sha256:6844d5e6021ecad3a5b62503a2f8e414d8eae0617992e9ac4dd606de65eb8b76
    command: hugo server --bind 0.0.0.0 -D --minify --gc
