name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.155.0@sha256:002aafcd600a3cad18d2d28511981ce1c2c1dae2fbdce354d82d881892615dbb
    command: hugo server --bind 0.0.0.0 -D --minify --gc
