name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.153.5@sha256:c75b721b87b20586d4e1db1768a2dbae638b35eaf0e618e97f9195f57b5e1d82
    command: hugo server --bind 0.0.0.0 -D --minify --gc
