name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.155.2@sha256:3d648b1634d4d2e070c28d659d90c6684494b4de454296c0bc71985b28173325
    command: hugo server --bind 0.0.0.0 -D --minify --gc
