name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.154.4@sha256:987bf2ff0d3d4973f0b37276eba9e0d1ec11f1f8cec724c4ba19745996cf92aa
    command: hugo server --bind 0.0.0.0 -D --minify --gc
