name: podvader
services:
  hugo:
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src
    image: ghcr.io/hugomods/hugo:0.153.1@sha256:04b99f4eb8a6674e0c2e20bd66c7828f540c5b49dcdf860ee723e568d806c7e5
    command: hugo server --bind 0.0.0.0 -D --minify --gc
